.product-large
  %h2.name= @product.name
  .photos
    %h3= "Photos"
    - @product.photos.all.each do |photo|
      - src = photo.uri || photo.url
      %img{ :src => "#{src}", :width => photo.width, :height => photo.height }
  .description= @product.description
  .tags
    - @product.tags.all.to_a.join(", ")
  .purchase-points
    %h3= "Buy Here"
    - @product.purchase_points.all.each do |purchase_point|
      .purchase-point
        .name= purchase_point.name
        .address= purchase_point.address
        .price= purchase_point.price