.product-large
  %h2.name= @product.name
  .photos
    %h3= "Photos"
    - @product.photos.all.each do |photo|
      - src = photo.uri || photo.url
      %img{ :src => "#{CGI::unescape(src)}", :width => PHOTO_WIDTH, :height => PHOTO_HEIGHT }
  .description= @product.description
  .tags
    - @product.tags.all.to_a.join(", ")
  .purchase-points
    %h3= "Buy Here"
    - @product.purchase_points.all.each do |purchase_point|
      .purchase-point
        .color= purchase_point.color
        %a.source{:href => CGI::unescape(purchase_point.source) }= "BUY"
        .price= purchase_point.price